body {
    background-color: rgb(245, 244, 231);
    background-image: url("ursos.jpg");
    font-family: 'Arial', sans-serif;
}

.header {
    padding: 20px;
}

.links {
    display: inline;
}

.links a {
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 3px;
}

.links a:hover {
    color: #e605d3;
    border-bottom: 2px solid #e605d3;
}

.btn-custom {
    background-color: #bb09ac;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-custom:hover {
    background-color: #e605d3;
    transform: scale(1.05);
}

.span-1 {
    font-weight: bold;
    font-size: 2em;
    color: #85037a;
}

.span-2 {
    color: #e605d3;
}

.secao-1,
.secao-2,
.secao-3,
.secao-4 {
    margin-top: 30px;
}

.img img {
    width: 100%;
    border-radius: 100%;
}

.img-col {
    width: 100%;
    border-radius: 100%;
    margin-top: 20px;
}

h3 {
    font-weight: bold;
    color: #85037a;
}

h2 {
    padding: 10px;
    color: #e605d3;
}
